<div class=" container">
    <div class="mb-4">
        <div class="d-flex justify-content-center">
            <h1 class="fst-italic text-white" style="font-size:5vw;">
                Entra nei Ricordi
            </h1>
        </div>
        <div class="text-center mt-4">
            <a class="text-decoration-none text-white fs-4 fw-semibold" asp-area="" asp-controller="Photo" asp-action="Index">Clicca per Entrare </></a>
        </div>
    </div>
</div>
